<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wk.springboot.dao.UserDao">
    <resultMap id="AnswerMap" type="com.wk.springboot.vo.Answer">
        <result column="test_id" property="testId"/>
        <result column="answer" property="answer"/>
    </resultMap>

    <resultMap id="UserMap" type="com.wk.springboot.vo.User">
        <result column="cardId" property="cardId"/>
        <result column="user_name" property="userName"/>
        <result column="company_id" property="companyId"/>
        <result column="company_name" property="companyName"/>
        <result column="is_join" property="isJoin"/>
        <result column="grade" property="grade"/>
        <result column="right_count" property="rightCount"/>
        <result column="use_time" property="time"/>
    </resultMap>

    <select id="queryUserByUserId" resultMap="UserMap">
        select * from user where cardId = #{cardId}
    </select>

    <update id="update_join" parameterType="com.wk.springboot.vo.User">
        update user set is_join = is_join + 1 where cardId = #{cardId}
    </update>
    <update id="update_time" parameterType="com.wk.springboot.vo.User">
        update user set use_time = #{time} where cardId = #{cardId}
    </update>
    <update id="update_grade">
        update user set grade = #{myGrade} where cardId = #{cardId}
    </update>
    <update id="update_count">
        update user set right_count = #{myCount} where cardId = #{cardId}
    </update>
    <delete id="deleteUser" parameterType="com.wk.springboot.vo.User">
        delete from user where cardId = #{cardId}
    </delete>

    <select id="queryAnswer" resultMap="AnswerMap">
        select * from answer
    </select>

    <insert id="addUser">
        insert into user (cardId, user_name, company_id, company_name, is_join, right_count, use_time, grade)
        values (#{cardId}, #{userName}, 1, #{companyName}, 0, 0, 0, 0)
    </insert>

    <select id="getLastGrade" resultType="Double">
        select grade from user where cardId = #{cardId}
    </select>
</mapper>